body{
    margin: 0%;
    padding: 0%;
}
.smenu{
    background-color: #003D1F;
    color: aliceblue;
}
.simg{
    display: flex;
}
.algmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.algt{
    text-align: center;
}
.imgcarte{
    width: 50%;
    height:350px ;
}
.imgdrp{
    width: 50%;
    height: 350px;
}
.scaroussel1{
    width: 400px;
    overflow: hidden;
    border: 2px solid aliceblue;
}
.scaroussel2{
    overflow: hidden;
    border: 2px solid aliceblue;
    width: 450px;
}
.caroussel1{
    display: flex;
    animation-duration: 30s;
    animation-name: imgalg;
    animation-iteration-count: infinite;
    animation-delay: 3s;
} 

@keyframes imgalg{
    0%{
        transform: translateX(0);
    }
    12.5%{
        transform: translateX(-400px);
    }
  25%{
    transform: translateX(-800px);
}
37.5%{
    transform: translateX(-1200px);
}
50%{
    transform: translateX(-1600px);
}
62.5%{
    transform: translateX(-2000px);
}
75%{
    transform: translateX(-2400px);
}
87.5%{
    transform: translateX(-2800px);
}
100%{
    transform: translateX(0);
}
}
.imgcaroussel1{
    width: 400px;
    height: 500px;
}  
.carpar{
    display: flex;
}
.par{
    margin: 50px;
    font-size: 20px;
background-image: url(../../assets/image/hamza/drpalg.png);
background-size: cover;
border: 2px solid black;
padding: 20px;
}
.sgeo{
    background-image: url(../../assets/image/hamza/geoalgr.jpg);
    background-size: cover;
    color: aliceblue;
}
.pgeo{
    font-size: 30px;
    padding: 30px;
}
.salger{
    display: flex;
}
.palger{
    font-size: 20px;
}
.imgalger{
    width: 900px;
    height: 300px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    font-size: 110%;
} 
.stimgad{
    display: flex;
    justify-content: space-between;
}
.divimgtim{
    display: flex;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-name: imgtim;
}
@keyframes imgtim {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-500px);
    }
  20%{
    transform: translateX(-1000px);
}
30%{
    transform: translateX(-1500px);
}
40%{
    transform: translateX(-2000px);
}
50%{
    transform: translateX(-2500px);
}
60%{
    transform: translateX(-3000px);
}
70%{
    transform: translateX(-3500px);
}
80%{
    transform: translateX(-4000px);
}
90%{
    transform: translateX(-4500px);
}
100%{
    transform: translateX(0);
}
}
.imgcaroussel2{
    width: 500px;
    height: 550;
   
}
.dcrousssel1{
    position: relative;
    top: 10px;
    z-index: 100; 
}
.ptimgad{
    line-height: 33px;
    font-weight: 700;
}
.parc{
    text-align: center;
}
@media screen and (max-width:412px) {
    body{
        margin: 0%;
        padding: 0%;
        width: 140%;
    }
    .carpar{
        display: block;
    } 
    .salger{
        display: block;
    }
    section{
        justify-content: center;
    } 
    .stimgad{
        display: block;
    } 
    .scaroussel1,.scaroussel2{
        justify-content: center;
        
    }
}

   
    
