body {
    margin: 5px;
    padding: 5px;
    background: linear-gradient(
        to left,
        red 35%,
        white 35% 65%,
        rgb(2, 59, 124) 65%
      );
}

h1 {
    display: flex;
    justify-content: space-evenly;
}

.gbox {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.istp {
    width: 200px;
}

.cbox {
    border: thick double;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
}

.cbox h2 {
    display: flex;
    justify-content: center;
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sbox {
    border: thick double;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
}

.sbox h2 {
    display: flex;
    justify-content: center;
}

.pbox {
    border: thick double;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
}

.pbox h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.eiffel {
    width: 50%;
}

.boxinvisible {
    text-align: center;
}

.adt {
    width: 45%;
}

.versailles {
    width: 65%;
}