/* * {
  margin: 0;
  padding: 0;
  font-family: Kanit;
} */

main {
  font-family: Kanit;
}
body {
  background-image: radial-gradient(
      circle at 29% 55%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      rgba(88, 255, 0, 0.05) 0%,
      rgba(88, 255, 0, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(35, 37, 96), rgb(0, 3, 53));
}
/*Image 1 lac glace */

.bgimageislande {
  display: flex;
}

.bgimageislande img {
  width: 100%;
}

.bgimageislande h2 {
  position: absolute;
  font-size: 5vw;
  color: aliceblue;
  top: 2vw;
  left: 45%;
}
.bgimageislande h1 {
  position: absolute;
  font-size: 8vw;
  color: aliceblue;
  top: 40vw;
  left: 2vw;
}
/*Image 2 cascade*/

.bgimageislande2 {
  display: flex;
  justify-content: space-between;
}

.bgimageislande2 img {
  width: 30%;
}
.bgimageislande2 h2 {
  position: absolute;
  text-align: center;
  color: aliceblue;
  font-size: 2.4vw;
  top: 55.8vw;
  margin: 0px 29.8vw 0px 29.8vw;
}
/*Image 3 montagne*/

.bgimageislande3 {
  display: flex;
}
.bgimageislande3 img {
  width: 100%;
  filter: contrast(1.2);
}
.videoislande iframe {
  position: absolute;
  top: 100vw;
  left: 3vw;
}
.videoislande img {
  position: absolute;
  width: 3%;
  top: 78vw;
  left: 90%;
  transition: ease-in-out 5s;
  transform: rotate(190deg);
}
.videoislande img:hover {
  transform: scale(4);
}

.textislande p {
  position: absolute;
  text-align: center;
  top: 95vw;
  font-size: 2vw;
  color: aliceblue;
  margin: 0px 3vw 0px 60%;
  background-color: rgba(0, 0, 0, 0.288);
  border: solid 1px aliceblue;
  padding: 0px 3vw 0px 3vw;
}
.bgimageislande4 {
  width: 100%;
  height: 100%;
}
.bgimageislande6 {
  width: 100%;
  height: 100%;
}
.bgimageislande5  {
  width: 100%;
  height: 100%;
}