@media screen and (min-width : 320px) {
    h1{
        color: black;
        font-size:25px;
        margin-left: 1cm;
        font-family:sans-serif;
        text-align: center;
        border: solid;
        border-radius: 30%;
        background-color: rgb(140, 140, 182);
    }
    .images{
        width:100%;
    }
    h2{
        font-size: 15px;
        font-family: cursive;
    }

}
