@media screen and (min-width : 320px) {
    h1{
        color: blue;
        font-size: small;
        margin-left: 1cm;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    .plagemalaisie{
        width:100%;
    }

}
