

.maldivesplage{
    width: 100%;
    height: 500px;

}

.descriptionMaldives{
   text-align: center;
}

.descriptionH2{
    text-align: center;
    
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
/* 
.descriptionH2 img{
    width: 600px;
    width: 100%;
} */

h1,h2{font-family: fantasy;
}

p{
    font-family: cursives;
}

.Container{
    display: flex;

}

.Container img{width: 400px;}
 


@media (max-width: 1000px) {
    img {
        width: 100%;
    }
}